<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 p-0">
            <div class="row bg-dark justify-content-center text-light p-5">
                <div class="col-lg-3">
                    <h3>About Us</h3>
                    <p class="text-secondary mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, optio? Dolorum ullam odio sint excepturi laborum ab perspiciatis, ducimus rem!</p>
                    <ul class="d-flex list-unstyled gap-1 fs-3">
                        <li><i class="fab fa-facebook-square"></i></li>
                        <li><i class="fab fa-github-square"></i></li>
                        <li><i class="fab fa-twitter-square"></i></li>
                        <li><i class="fab fa-instagram-square"></i></li>
                        <li><i class="fab fa-pinterest-square"></i></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h3>Information Link</h3>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-secondary">Home</a></li>
                        <li><a href="#" class="text-secondary">Blog</a></li>
                        <li><a href="#" class="text-secondary">Pricing</a></li>
                        <li><a href="#" class="text-secondary">About</a></li>
                        <li><a href="#" class="text-secondary">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h3>Contact Details</h3>
                    <ul class="list-unstyled text-secondary">
                        <li>info@example.com</li>
                        <li>www.example.com</li>
                        <li>Address my example web site office 12345. Example / Country</li>
                        <li>+0123 546 98 33</li>
                    </ul>
                </div>
            </div>
            <div class="bg-dark text-secondary p-2 text-center">
                <small>All Rights Reserved ® 2018 <span class="text-white">SmartEDU</span> Re-Design By <span class="text-white">Mert Efe Cerit</span></small>
            </div>  
        </div>
    </div>
</div>