<div class="container my-2 border bg-light p-3 rounded">
  <div class="row justify-content-center my-3">
    <div class="col-lg-4">
      <form action="/search" method="get">
        <div class="input-group">
          <input name="query" type="text" class="form-control" placeholder="Search Course">
          <button class="btn btn-primary fw-bold"><i class="fas fa-search"></i> Search</button>
        </div>
      </form>
    </div>
  </div>
    <div class="row">
        <% courses.forEach(course => { %>
         <div class="col-lg-3">
           <div class="card">
            <img src="https://via.placeholder.com/200x100" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"><%= course.name %> </h5>
              <p class="card-text"><%= course.desc %> </p>
              <a href="/courses/<%= course.slug %>" class="btn btn-primary">Devam Et</a>
            </div>
           </div>
         </div>
        <% }) %>
    </div>
</div>