<div class="container bg-light border my-2">
    <div class="row">
        <div class="col-lg-12">
            <h1>Courses</h1>
            <hr>
            <div class="row">
                <% courses.forEach(course => { %>
                 <div class="col-lg-4">
                    <div class="card my-2">
                        <img src="/uploads/images/<%= course.img %> " class="card-img-top" alt="">
                        <div class="card-body">
                          <h5 class="card-title"><%= course.name %> </h5>
                          <p class="card-text"><%= course.desc %> </p>
                          <a href="/courses/detail/<%= course.id %> " class="btn btn-primary">Ayrıntılar</a>
                        </div>
                      </div>
                 </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>