<div class="container bg-light border my-2">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
        </div>
        <div class="col-lg-8 text-secondary">
            <h1><%= course.name %> </h1>
            <hr>
            <p><%= course.desc %> </p>
        </div>
    </div>
</div>