<div class="container my-2 border bg-light p-3 rounded">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="card-title"><%= course.name %> </h1>
        </div>
        <hr>
         <div class="col-lg-4">
            <img src="https://via.placeholder.com/400x400" class="img-fluid">
         </div>
         <div class="col-lg-8">
            <h2>Description</h2>
            <p class="card-text"><%= course.desc %> </p>
            <form action="" method="post">
                <input name="courseId" type="hidden" value="<%= course.id %>">
                <% if (user.role === 'student') { %>
                    <button type="submit" class="btn btn-primary">Enroll</button>
                <% } else { %>
                    <small class="text-secondary"><i class="fas fa-exclamation"></i> Only Students can be enroll courses</small>
                <% } %>
            </form>
         </div>
    </div>
</div>