<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('./partials/pre-header.ejs')  %>
    <title><%- locals.title  %> </title>
</head>
<body>
    <%- body %> 
    <%- include('./partials/scripts.ejs') %> 
</body>
</html>